html {
    height: 100vh;
}
body{
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

#memory-game {
    border: 1px solid black;
    position: relative;
}

.base {
    height: 450px;
    width: 450px;
}

#end-game {
    visibility: hidden;
    position: absolute;
    top: 280px;
    left: 175px;
    font-size: 18px;
    color: #ec1940;
}